{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bootstarp download</title>
    <link rel="stylesheet" href="{% static 'css/bootstarp-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-rebort.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstarp.min.css' %}">
</head>
<style>
    body {
         background-image: url("{% static 'images/pink1.jpg' %}");
    }
    body {
        background-image:cover;
   }
</style>
<body>
    <center>
    <h1>PRAJNA NANDA,'PINKY'</h1>
</center>
    <SCript src="{% static 'js/bootstarp.bundle.js' %}"></SCript>
    <SCript src="{% static 'js/bootstarp.bundle.min.js' %}"></SCript>
    <SCript src="{% static 'js/bootstarp.js' %}"></SCript>
    <SCript src="{% static 'js/bootstarp.min.js' %}"></SCript>
</body>
</html>